[Service]
Type=oneshot
ExecStart=:/bin/bash -x -c 'source /etc/birdnet/birdnet.conf; if [ -z "$ANALYSIS_SERVER" -o "$ANALYSIS_SERVER" = "localhost" ]; then systemctl start birdnet_server; fi'

[Install]
WantedBy=multi-user.target
